# Import Gene Annotation File

https://github.com/hakha-most/gwas_eqtl/blob/master/gene_annotations/genes.protein_coding.v39.gtf

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import gzip
import os 
os.chdir("/Users/tanvibansal/Documents/GitHub/Capstone")
# Local path to GTF file
gtf_file_path = 'genes.protein_coding.v39.gtf'

# Load the GTF file into a pandas DataFrame and use the first row as headers
gtf_df = pd.read_csv(gtf_file_path, sep='\t', header=0)

# Display the first few rows of the dataframe
gtf_df.sort_values('start')
gtf_df.head()

    chr   start     end strand  ...    gene     hgnc_id     tss     tes
0  chr1   65419   71585      +  ...   OR4F5  HGNC:14825   65419   71585
1  chr1  621096  622034      -  ...  OR4F16  HGNC:15079  622034  621096
2  chr1  859303  879955      +  ...  SAMD11  HGNC:28706  859303  879955
3  chr1  879583  894689      -  ...   NOC2L  HGNC:24517  894689  879583
4  chr1  895964  901099      +  ...  KLHL17  HGNC:24023  895964  901099

[5 rows x 10 columns]

#### convert chr to int

In [2]:
gtf_df['chr'] = gtf_df['chr'].str[3:].astype(int)
gtf_df['start'] = gtf_df['start'].astype(int)
gtf_df.groupby('chr')['start'].agg({'min', 'max'}).reset_index()

    chr        max       min
0     1  249200395     65419
1     2  242836139     38814
2     3  197687071    238446
3     4  190945522     53180
4     5  180794269     92283
5     6  170884383    291630
6     7  158820866    330136
7     8  146277851    116086
8     9  140772234     14475
9    10  135437399     92828
10   11  134248398    167784
11   12  133794898    175933
12   13  115079957  19747912
13   14  105992920  19377594
14   15  102462245  20737094
15   16   90122974     96407
16   17   81037485      5810
17   18   77915115     47221
18   19   59073298    107104
19   20   62887048     67891
20   21   48055507  14982098
21   22   51205929  17071641

Positions reset for each chromosome

### File Description

This file contains **gene annotations** for **protein-coding genes** and provides information about the **location of genes on the genome**. Below is a description of each column:

1. **chr**: The chromosome where the gene is located (e.g., `chr1`, `chr2`, etc.).
2. **start**: The start position of the gene on the chromosome (in base pairs).
3. **end**: The end position of the gene on the chromosome (in base pairs).
4. **strand**: Indicates the strand on which the gene is located (`+` for forward strand, `-` for reverse strand).
5. **GeneSymbol**: The symbol or name of the gene (e.g., `OR4F5`, `SAMD11`), typically assigned by organizations like HGNC (HUGO Gene Nomenclature Committee).
6. **cons**: This column indicates the type of gene. In this file, all genes are classified as **protein_coding**.
7. **gene**: The Ensembl gene ID, a unique identifier for the gene (e.g., `ENSG00000186092`).
8. **hgnc_id**: The unique identifier for the gene assigned by the **HGNC** (HUGO Gene Nomenclature Committee).
9. **tss**: The **transcription start site**, the position where transcription of the gene starts on the chromosome.
10. **tes**: The **transcription end site**, the position where transcription of the gene ends on the chromosome.

# Import GWAS data

 https://docs.google.com/spreadsheets/d/1kvPoupSzsSFBNSztMzl04xMoSC3Kcx3CrjVf4yBmESU/edit?gid=178908679#gid=178908679 (row 7217)
 
 50_irnt.gwas.imputed_v3.both_sexes.tsv.bgz'

In [3]:
# Path to GWAS file
gwas_file_path = '50_irnt.gwas.imputed_v3.both_sexes.tsv.bgz'
import gzip 
# Open and read the compressed .bgz file using gzip
with gzip.open(gwas_file_path, 'rt') as f:
    # Load the file into a pandas DataFrame
    gwas_df = pd.read_csv(f, sep='\t')

In [4]:
# Display the first few rows to inspect the structure of the GWAS file
gwas_df

                    variant minor_allele  ...     tstat      pval
0               1:15791:C:T            T  ...  0.101138  0.919441
1               1:69487:G:A            A  ... -0.118272  0.905852
2               1:69569:T:C            C  ... -0.749571  0.453514
3              1:139853:C:T            T  ... -0.120302  0.904244
4             1:692794:CA:C            C  ...  0.274788  0.783479
...                     ...          ...  ...       ...       ...
13791462    X:154929412:C:T            T  ... -1.044020  0.296477
13791463   X:154929637:CT:C            C  ... -0.998454  0.318060
13791464  X:154929952:CAA:C            C  ... -1.011490  0.311783
13791465    X:154930230:A:G            G  ... -0.957369  0.338381
13791466    X:154930487:T:A            A  ... -2.441660  0.014620

[13791467 rows x 11 columns]

### GWAS Summary Statistics Dataset Description

1. **variant**: The unique identifier for each SNP (Single Nucleotide Polymorphism). This can include information like chromosome, position, reference allele, and alternative allele (e.g., `1:12345:A:G`).
   - **Example**: `1:10583:T:G`

2. **minor_allele**: The allele that is less frequent in the population (minor allele) for this particular SNP.
   - **Example**: `G`

3. **minor_AF**: The **minor allele frequency** (AF), which represents the frequency of the minor allele in the population. It ranges from 0 to 1.
   - **Example**: `0.35` (35% of individuals carry the minor allele)

4. **low_confidence_variant**: A flag indicating whether the variant has **low confidence** due to imputation quality or other uncertainties. Values may be `TRUE` or `FALSE`.
   - **Example**: `FALSE`

5. **n_complete_samples**: The number of samples for which complete genotype data is available for this variant.
   - **Example**: `300,000`

6. **AC**: The **allele count** of the minor allele, i.e., the number of times the minor allele appears in the study population (across all samples).
   - **Example**: `50000`

7. **ytx**: Likely a placeholder for a phenotype-related statistic; depending on the dataset, this could represent something like the trait mean or effect size (its exact meaning depends on the specific analysis).

8. **beta**: The **effect size** of the SNP on the trait being studied (in this case, likely height). It represents the change in the trait per additional copy of the minor allele.
   - **Example**: `0.05` (the trait increases by 0.05 units for each additional copy of the minor allele)

9. **se**: The **standard error** of the effect size (beta), indicating the precision of the estimated effect.
   - **Example**: `0.01`

10. **tstat**: The **t-statistic** for the beta estimate, which is the ratio of the beta estimate to its standard error.
    - **Example**: `5.0` (higher values indicate more significant associations)

11. **pval**: The **p-value** of the association between the SNP and the trait. This indicates the significance of the result, with smaller p-values suggesting stronger evidence that the SNP is associated with the trait.
    - **Example**: `1.2e-6` (a very small p-value, indicating strong evidence of association)

# Find Variant Chromosome and Position

In [5]:
gwas_df[['chr', 'pos', 'ref', 'alt']] = gwas_df['variant'].str.split(':', expand=True)
gwas_df = gwas_df.loc[gwas_df['chr'] != 'X']
gwas_df['chr'] = gwas_df['chr'].astype(int)
gwas_df['pos'] = gwas_df['pos'].astype(int)

gwas_df.groupby('chr')['pos'].agg({'min','max'}).reset_index()

/var/folders/z0/1hhlpnfn2mz3vk7t57zdcy0w0000gn/T/ipykernel_46541/2974836220.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gwas_df['chr'] = gwas_df['chr'].astype(int)
/var/folders/z0/1hhlpnfn2mz3vk7t57zdcy0w0000gn/T/ipykernel_46541/2974836220.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gwas_df['pos'] = gwas_df['pos'].astype(int)

    chr        max       min
0     1  249230914     15791
1     2  243082521     10181
2     3  197900375     60197
3     4  190922257     13012
4     5  180736061     11882
5     6  170934414    202076
6     7  159128550     27916
7     8  146303560     34440
8     9  141104957     40997
9    10  135503523     61334
10   11  134946451    131128
11   12  133840247    163752
12   13  115109852  19022393
13   14  107289436  19185163
14   15  102461014  20001226
15   16   90238127     60455
16   17   81109537       302
17   18   78017073     11603
18   19   59117442    229783
19   20   62963628     61098
20   21   48119634   9574185
21   22   51237712  16464274

It appears that position resets on each chromosome

# Join to Find 5 Nearest Genes

In [ ]:
from pandarallel import pandarallel
import os
import gc
os.chdir("/Users/tanvibansal/Documents/GitHub/Capstone")
#grab a small sample of the gwas dataframe containing mutation information 
gwas_df.head()
gtf_df.head()
gwas_sample = gwas_df.iloc[np.random.choice(range(len(gwas_df)),size=100000,replace=False)] 

#drop the genes that are not present in the s_het file as these may cause na's that will break the ldsc algorithm in the next step
s_het_info = pd.read_excel('s_het_info.xlsx',sheet_name=1).rename(columns={"ensg":"GeneSymbol"}).set_index("GeneSymbol")
gtf_df_tidy = s_het_info.join(gtf_df.set_index("GeneSymbol"),how="inner")[["chr","start","end","gene"]]

#write a function to find the 5 nearest genes by absolute difference in mutation position and gene start position
def nearest_gene_finder(m):
    #get the absolute l1 distance 
    dists = np.abs(gtf_df_tidy.loc[gtf_df_tidy.chr == m.chr,"start"] - m.pos)
    top_5 = dists.sort_values()[0:5]
    out = pd.DataFrame(m).T
    out[["GeneSymbol.f1","GeneSymbol.f2","GeneSymbol.f3","GeneSymbol.f4","GeneSymbol.f5"]] = top_5.index
    out[["dist.f1","dist.f2","dist.f3","dist.f4","dist.f5"]] = top_5.values/1000 #convert distance to kilobases by dividing through 1000
    return(out)

#create a sample of the gwas dataframe with only mutations on chr 22 for this stage
gwas_sample_22 = gwas_df.loc[gwas_df.chr ==22]

#apply the function over each row of the sample mutation df 
pandarallel.initialize(progress_bar=True)
mutn_5_nearest_genes_sample = gwas_sample_22.parallel_apply(lambda m: nearest_gene_finder(m),axis=1)
gc.collect()
mutn_5_nearest_genes_sample_df.loc[mutn_5_nearest_genes_sample_df['dist.f1'] == 0,"dist.f1"] = 1/1000
mutn_5_nearest_genes_sample_df = pd.concat(list(mutn_5_nearest_genes_sample))

In [19]:
#now join the s_het values onto each of our 5 nearest genes and compute the distance weighted s_het 
s_het_w = mutn_5_nearest_genes_sample_df.copy(deep=True)
for i in range(1,6):
    s_het_temp = s_het_info[["post_mean"]].reset_index().rename(columns = {"GeneSymbol":"GeneSymbol.f%s"%(i)}).set_index("GeneSymbol.f%s"%(i))
    s_het_w = s_het_w.reset_index().set_index("GeneSymbol.f%s"%(i)).join(s_het_temp)
    s_het_w["s_het.f%s"%(i)] = s_het_w["post_mean"]
    s_het_w["s_het_w.f%s"%(i)] = s_het_w["post_mean"]/s_het_w["dist.f%s"%(i)]
    s_het_w = s_het_w.drop(columns="post_mean")
s_het_w = s_het_w.reset_index() 
s_het_w

          GeneSymbol.f5    GeneSymbol.f4  ...  s_het.f5 s_het_w.f5
0       ENSG00000183307  ENSG00000177663  ...  0.118445   0.000105
1       ENSG00000183307  ENSG00000177663  ...  0.118445   0.000107
2       ENSG00000183307  ENSG00000177663  ...  0.118445   0.000107
3       ENSG00000183307  ENSG00000177663  ...  0.118445   0.000108
4       ENSG00000183307  ENSG00000177663  ...  0.118445   0.000108
...                 ...              ...  ...       ...        ...
179761  ENSG00000008735  ENSG00000100299  ...  0.706036   0.003706
179762  ENSG00000008735  ENSG00000100299  ...  0.706036   0.003705
179763  ENSG00000008735  ENSG00000100299  ...  0.706036   0.003677
179764  ENSG00000008735  ENSG00000100299  ...  0.706036   0.003569
179765  ENSG00000008735  ENSG00000100299  ...  0.706036   0.003557

[179766 rows x 36 columns]

## Prepare the annotation file containing our features for the LDSC program

In [20]:
#format the dataframe's column names, columns to retain, and match the SNPs present in the bim file
s_het_w = s_het_w.reset_index().rename(columns={'chr': 'CHR','pos': 'BP','variant': 'SNP'})
annot_df = s_het_w[['CHR', 'BP', 'SNP', 's_het_w.f1', 's_het_w.f2', 's_het_w.f3', 's_het_w.f4', 's_het_w.f5']]
#annot_df = s_het_w[['CHR', 'BP', 'SNP', 's_het.f1', 's_het.f2', 's_het.f3', 's_het.f4', 's_het.f5']]
annot_df = annot_df.sort_values(['CHR', 'BP'])
annot_df

       CHR        BP              SNP  ...    s_het_w.f3  s_het_w.f4  s_het_w.f5
0       22  16464274  22:16464274:A:C  ...  2.546518e-07    0.000008    0.000105
1       22  16488635  22:16488635:C:A  ...  2.611532e-07    0.000008    0.000107
2       22  16488702  22:16488702:G:C  ...  2.611715e-07    0.000008    0.000107
3       22  16495833  22:16495833:C:A  ...  2.631382e-07    0.000008    0.000108
4       22  16498458  22:16498458:G:A  ...  2.638696e-07    0.000008    0.000108
...     ..       ...              ...  ...           ...         ...         ...
179761  22  51229717  22:51229717:A:T  ...  2.122508e-03    0.000009    0.003706
179762  22  51229805  22:51229805:T:C  ...  2.120911e-03    0.000009    0.003705
179763  22  51231220  22:51231220:A:G  ...  2.095559e-03    0.000009    0.003677
179764  22  51237063  22:51237063:T:C  ...  1.996989e-03    0.000009    0.003569
179765  22  51237712  22:51237712:G:A  ...  1.986610e-03    0.000009    0.003557

[179766 rows x 8 columns]

In [238]:
#column names for the bim file according to the plink documentation site
names = ["CHR","SNP","POS","BP","A1","A2"]
os.chdir("/Users/tanvibansal/Documents/GitHub/ldsc")
bim = pd.read_csv("22.bim",sep="\t",header=None,names=names)

#join the annotated df onto the bim file and sort in the order of the bim file exactly to prep for ldsc. we should have the same exact # of rows 
annot_df_filt = bim.set_index(["CHR","BP"]).join(annot_df.set_index(["CHR","BP"]),how="left",rsuffix=".a").drop_duplicates(subset=["SNP"])
annot_df_sort = annot_df_filt.reset_index().set_index("SNP").loc[bim.SNP.values]
annot_df_sort["CM"] = 0.0

#select the cols of interest and write the file out as .annot to use for ldsc
#annot_df_prep = annot_df_sort.reset_index()[["CHR","BP","SNP", "CM", "s_het_w.f1", "s_het_w.f2", "s_het_w.f3", "s_het_w.f4", "s_het_w.f5"]]
annot_df_prep = annot_df_sort.reset_index()[["CHR","BP","SNP", "CM", "s_het.f1", "s_het.f2", "s_het.f3", "s_het.f4", "s_het.f5"]]
annot_df_prep = annot_df_prep.dropna()
annot_df_prep.to_csv("1kg_eur/s_het_unweighted_ch22.annot",sep="\t",index=False)
annot_df_prep

#unique_snps = annot_df_prep['SNP'].unique()  # Get unique SNPs to avoid duplicates

# Save the SNPs to a text file
#with open('1kg_eur/s_het_22/filtered_snps.txt', 'w') as f:
 #   for snp in unique_snps:
  #      f.write(f"{snp}\n")

NameError: name 'annot_df' is not defined

#### we need to run the following 2 commands to get the ldsc computation to run as intended 

1. Make the .bed/.bim files with our filtered SNPs


plink --bfile /Users/tanvibansal/Documents/GitHub/ldsc/1kg_eur/22 --extract /Users/tanvibansal/Documents/GitHub/ldsc/1kg_eur/s_het_22/filtered_snps.txt --make-bed --out /Users/tanvibansal/Documents/GitHub/ldsc/1kg_eur/s_het_22

2. Compute the ld scores with our inputs specified

python ldsc.py --l2 --bfile /Users/tanvibansal/Documents/GitHub/ldsc/1kg_eur/s_het_22_uw/s_het_22_uw --ld-wind-cm 1 --annot /Users/tanvibansal/Documents/GitHub/ldsc/1kg_eur/s_het_22_uw/s_het_uw_ch22.annot --out 1kg_eur/s_het_22_uw/s_het_22_uw

In [198]:
import gzip 
with gzip.open('1kg_eur/s_het_22.l2.ldscore.gz', 'rb') as f: 
    file_content = pd.read_csv(f,sep="\t")

## Generate plink triplet files needed for LD score computation for all chromosomes

#### 1. Convert and filter 10000 genomes data in .vcf format to plink triplet files for europeans

##### 1.1 Extract IDs for european individuals in the 1000 genomes data set

In [129]:
#download file containing metadata and filter for EUR super population 
int_call_samples_meta = pd.read_csv("/Users/tanvibansal/Documents/GitHub/Capstone/integrated_call_samples_v3.20130502.ALL.panel.txt",sep="\t")
european_individuals = int_call_samples_meta.loc[int_call_samples_meta.super_pop == "EUR"]
european_individuals

#download file containing Family ID and Individual ID for all individuals, filter for individual ID in european_individuals metadata 
int_call_samples_individuals = pd.read_csv("/Users/tanvibansal/Documents/GitHub/Capstone/integrated_call_samples_v3.20200731.ALL.ped.txt",sep="\t")
european_individuals_ids = int_call_samples_individuals.iloc[np.isin(int_call_samples_individuals['Individual ID'].values, european_individuals['sample'].values)]
eur_individuals_ids = european_individuals_ids[["Family ID","Individual ID"]]
print(eur_individuals_ids.to_markdown())

#write file containing family and individual IDs to .txt file to be used in the filtering step next
eur_individuals_ids.to_csv("/Users/tanvibansal/Documents/GitHub/Capstone/eur_individuals.txt",sep="\t",index=False)

|      | Family ID   | Individual ID   |
|-----:|:------------|:----------------|
|    0 | HG00096     | HG00096         |
|    1 | HG00097     | HG00097         |
|    3 | HG00099     | HG00099         |
|    4 | HG00100     | HG00100         |
|    5 | HG00101     | HG00101         |
|    6 | HG00102     | HG00102         |
|    7 | HG00103     | HG00103         |
|    9 | HG00105     | HG00105         |
|   10 | HG00106     | HG00106         |
|   11 | HG00107     | HG00107         |
|   12 | HG00108     | HG00108         |
|   13 | HG00109     | HG00109         |
|   14 | HG00110     | HG00110         |
|   15 | HG00111     | HG00111         |
|   16 | HG00112     | HG00112         |
|   17 | HG00113     | HG00113         |
|   18 | HG00114     | HG00114         |
|   19 | HG00115     | HG00115         |
|   20 | HG00116     | HG00116         |
|   21 | HG00117     | HG00117         |
|   22 | HG00118     | HG00118         |
|   23 | HG00119     | HG00119         |
|   24 | HG00120     | HG00120         |
|   25 | HG00121     | HG00121         |
|   26 | HG00122     | HG00122         |
|   27 | HG00123     | HG00123         |
|   29 | HG00125     | HG00125         |
|   30 | HG00126     | HG00126         |
|   31 | HG00127     | HG00127         |
|   32 | HG00128     | HG00128         |
|   33 | HG00129     | HG00129         |
|   34 | HG00130     | HG00130         |
|   35 | HG00131     | HG00131         |
|   36 | HG00132     | HG00132         |
|   37 | HG00133     | HG00133         |
|   40 | HG00136     | HG00136         |
|   41 | HG00137     | HG00137         |
|   42 | HG00138     | HG00138         |
|   43 | HG00139     | HG00139         |
|   44 | HG00140     | HG00140         |
|   45 | HG00141     | HG00141         |
|   46 | HG00142     | HG00142         |
|   47 | HG00143     | HG00143         |
|   49 | HG00145     | HG00145         |
|   50 | GBR002      | HG00146         |
|   52 | HG00148     | HG00148         |
|   53 | HG00149     | HG00149         |
|   54 | HG00150     | HG00150         |
|   55 | HG00151     | HG00151         |
|   58 | HG00154     | HG00154         |
|   59 | GBR001      | HG00155         |
|   61 | HG00157     | HG00157         |
|   62 | GBR003      | HG00158         |
|   63 | HG00159     | HG00159         |
|   64 | HG00160     | HG00160         |
|   65 | HG00171     | HG00171         |
|   66 | HG00173     | HG00173         |
|   67 | HG00174     | HG00174         |
|   68 | HG00176     | HG00176         |
|   69 | HG00177     | HG00177         |
|   70 | HG00178     | HG00178         |
|   71 | HG00179     | HG00179         |
|   72 | HG00180     | HG00180         |
|   73 | HG00181     | HG00181         |
|   74 | HG00182     | HG00182         |
|   75 | HG00183     | HG00183         |
|   76 | HG00185     | HG00185         |
|   77 | HG00186     | HG00186         |
|   78 | HG00187     | HG00187         |
|   79 | HG00188     | HG00188         |
|   80 | HG00189     | HG00189         |
|   81 | HG00190     | HG00190         |
|   82 | HG00231     | HG00231         |
|   83 | HG00232     | HG00232         |
|   84 | HG00233     | HG00233         |
|   85 | HG00234     | HG00234         |
|   86 | HG00235     | HG00235         |
|   87 | HG00236     | HG00236         |
|   88 | HG00237     | HG00237         |
|   89 | HG00238     | HG00238         |
|   90 | HG00239     | HG00239         |
|   91 | HG00240     | HG00240         |
|   92 | HG00242     | HG00242         |
|   93 | HG00243     | HG00243         |
|   94 | HG00244     | HG00244         |
|   95 | HG00245     | HG00245         |
|   96 | HG00246     | HG00246         |
|  100 | HG00250     | HG00250         |
|  101 | HG00251     | HG00251         |
|  102 | HG00252     | HG00252         |
|  103 | HG00253     | HG00253         |
|  104 | HG00254     | HG00254         |
|  105 | HG00255     | HG00255         |
|  106 | HG00256     | HG00256         |
|  107 | HG00257     | HG00257         |
|  108 | HG00258     | HG00258         |
|  109 | HG00259     | HG00259         |
|  110 | HG00260     | HG00260         |
|  111 | HG00261     | HG00261         |
|  112 | HG00262     | HG00262         |
|  113 | HG00263     | HG00263         |
|  114 | HG00264     | HG00264         |
|  115 | HG00265     | HG00265         |
|  116 | HG00266     | HG00266         |
|  117 | HG00267     | HG00267         |
|  118 | HG00268     | HG00268         |
|  119 | HG00269     | HG00269         |
|  121 | HG00271     | HG00271         |
|  122 | HG00272     | HG00272         |
|  123 | HG00273     | HG00273         |
|  124 | HG00274     | HG00274         |
|  125 | HG00275     | HG00275         |
|  126 | HG00276     | HG00276         |
|  127 | HG00277     | HG00277         |
|  128 | HG00278     | HG00278         |
|  129 | HG00280     | HG00280         |
|  130 | HG00281     | HG00281         |
|  131 | HG00282     | HG00282         |
|  132 | HG00284     | HG00284         |
|  133 | HG00285     | HG00285         |
|  134 | HG00288     | HG00288         |
|  135 | HG00290     | HG00290         |
|  138 | HG00304     | HG00304         |
|  139 | HG00306     | HG00306         |
|  140 | HG00308     | HG00308         |
|  141 | HG00309     | HG00309         |
|  142 | HG00310     | HG00310         |
|  143 | HG00311     | HG00311         |
|  145 | HG00313     | HG00313         |
|  146 | HG00315     | HG00315         |
|  147 | HG00318     | HG00318         |
|  148 | HG00319     | HG00319         |
|  149 | HG00320     | HG00320         |
|  150 | HG00321     | HG00321         |
|  151 | HG00323     | HG00323         |
|  152 | HG00324     | HG00324         |
|  153 | HG00325     | HG00325         |
|  154 | HG00326     | HG00326         |
|  155 | HG00327     | HG00327         |
|  156 | HG00328     | HG00328         |
|  157 | HG00329     | HG00329         |
|  158 | HG00330     | HG00330         |
|  159 | HG00331     | HG00331         |
|  160 | HG00332     | HG00332         |
|  161 | HG00334     | HG00334         |
|  162 | HG00335     | HG00335         |
|  163 | HG00336     | HG00336         |
|  164 | HG00337     | HG00337         |
|  165 | HG00338     | HG00338         |
|  166 | HG00339     | HG00339         |
|  167 | HG00341     | HG00341         |
|  168 | HG00342     | HG00342         |
|  169 | HG00343     | HG00343         |
|  170 | HG00344     | HG00344         |
|  171 | HG00345     | HG00345         |
|  172 | HG00346     | HG00346         |
|  173 | HG00349     | HG00349         |
|  174 | HG00350     | HG00350         |
|  175 | HG00351     | HG00351         |
|  176 | HG00353     | HG00353         |
|  177 | HG00355     | HG00355         |
|  178 | HG00356     | HG00356         |
|  179 | HG00357     | HG00357         |
|  180 | HG00358     | HG00358         |
|  182 | HG00360     | HG00360         |
|  183 | HG00361     | HG00361         |
|  184 | HG00362     | HG00362         |
|  185 | HG00364     | HG00364         |
|  186 | HG00365     | HG00365         |
|  187 | HG00366     | HG00366         |
|  188 | HG00367     | HG00367         |
|  189 | HG00368     | HG00368         |
|  190 | HG00369     | HG00369         |
|  191 | HG00371     | HG00371         |
|  192 | HG00372     | HG00372         |
|  193 | HG00373     | HG00373         |
|  194 | HG00375     | HG00375         |
|  195 | HG00376     | HG00376         |
|  197 | HG00378     | HG00378         |
|  198 | HG00379     | HG00379         |
|  199 | HG00380     | HG00380         |
|  200 | HG00381     | HG00381         |
|  201 | HG00382     | HG00382         |
|  202 | HG00383     | HG00383         |
|  203 | HG00384     | HG00384         |
|  576 | HG01334     | HG01334         |
|  687 | IBS001      | HG01500         |
|  688 | IBS001      | HG01501         |
|  690 | IBS002      | HG01503         |
|  691 | IBS002      | HG01504         |
|  693 | IBS003      | HG01506         |
|  694 | IBS003      | HG01507         |
|  696 | IBS004      | HG01509         |
|  697 | IBS004      | HG01510         |
|  699 | IBS005      | HG01512         |
|  700 | IBS005      | HG01513         |
|  702 | IBS006      | HG01515         |
|  703 | IBS006      | HG01516         |
|  705 | IBS007      | HG01518         |
|  706 | IBS007      | HG01519         |
|  708 | IBS008      | HG01521         |
|  709 | IBS008      | HG01522         |
|  711 | IBS009      | HG01524         |
|  712 | IBS009      | HG01525         |
|  714 | IBS010      | HG01527         |
|  715 | IBS010      | HG01528         |
|  717 | IBS011      | HG01530         |
|  718 | IBS011      | HG01531         |
|  720 | IBS013      | HG01536         |
|  721 | IBS013      | HG01537         |
|  749 | IBS024      | HG01602         |
|  750 | IBS024      | HG01603         |
|  752 | IBS023      | HG01605         |
|  753 | IBS023      | HG01606         |
|  754 | IBS022      | HG01607         |
|  755 | IBS022      | HG01608         |
|  757 | IBS021      | HG01610         |
|  759 | IBS021      | HG01612         |
|  760 | IBS020      | HG01613         |
|  762 | IBS020      | HG01615         |
|  764 | IBS019      | HG01617         |
|  765 | IBS019      | HG01618         |
|  766 | IBS018      | HG01619         |
|  767 | IBS018      | HG01620         |
|  770 | IBS017      | HG01623         |
|  771 | IBS017      | HG01624         |
|  772 | IBS016      | HG01625         |
|  773 | IBS016      | HG01626         |
|  775 | IBS015      | HG01628         |
|  777 | IBS015      | HG01630         |
|  778 | IBS014      | HG01631         |
|  779 | IBS014      | HG01632         |
|  782 | IBS025      | HG01668         |
|  783 | IBS025      | HG01669         |
|  784 | IBS026      | HG01670         |
|  786 | IBS026      | HG01672         |
|  787 | IBS027      | HG01673         |
|  789 | IBS027      | HG01675         |
|  790 | IBS028      | HG01676         |
|  792 | IBS028      | HG01678         |
|  793 | IBS029      | HG01679         |
|  794 | IBS029      | HG01680         |
|  796 | IBS030      | HG01682         |
|  798 | IBS030      | HG01684         |
|  799 | IBS031      | HG01685         |
|  800 | IBS031      | HG01686         |
|  802 | IBS034      | HG01694         |
|  803 | IBS034      | HG01695         |
|  805 | IBS035      | HG01697         |
|  807 | IBS035      | HG01699         |
|  808 | IBS036      | HG01700         |
|  810 | IBS036      | HG01702         |
|  812 | IBS037      | HG01704         |
|  813 | IBS037      | HG01705         |
|  815 | IBS038      | HG01707         |
|  816 | IBS038      | HG01708         |
|  817 | IBS039      | HG01709         |
|  818 | IBS039      | HG01710         |
|  820 | IBS041      | HG01746         |
|  821 | IBS041      | HG01747         |
|  824 | IBS044      | HG01756         |
|  825 | IBS044      | HG01757         |
|  826 | IBS046      | HG01761         |
|  827 | IBS046      | HG01762         |
|  830 | IBS047      | HG01765         |
|  831 | IBS047      | HG01766         |
|  832 | IBS048      | HG01767         |
|  833 | IBS048      | HG01768         |
|  835 | IBS049      | HG01770         |
|  836 | IBS049      | HG01771         |
|  838 | IBS050      | HG01773         |
|  840 | IBS050      | HG01775         |
|  841 | IBS051      | HG01776         |
|  842 | IBS051      | HG01777         |
|  844 | IBS052      | HG01779         |
|  846 | IBS052      | HG01781         |
|  848 | IBS053      | HG01783         |
|  849 | IBS053      | HG01784         |
|  850 | IBS054      | HG01785         |
|  851 | IBS054      | HG01786         |
|  853 | HG01789     | HG01789         |
|  854 | HG01790     | HG01790         |
|  855 | HG01791     | HG01791         |
| 1143 | HG02215     | HG02215         |
| 1146 | IBS055      | HG02219         |
| 1147 | IBS056      | HG02220         |
| 1148 | IBS056      | HG02221         |
| 1150 | IBS057      | HG02223         |
| 1151 | IBS057      | HG02224         |
| 1154 | IBS059      | HG02230         |
| 1155 | IBS059      | HG02231         |
| 1156 | IBS060      | HG02232         |
| 1157 | IBS060      | HG02233         |
| 1159 | IBS061      | HG02235         |
| 1160 | IBS061      | HG02236         |
| 1162 | IBS062      | HG02238         |
| 1163 | IBS062      | HG02239         |
| 2358 | 1328        | NA06984         |
| 2359 | 1341        | NA06985         |
| 2360 | 13291       | NA06986         |
| 2361 | 1328        | NA06989         |
| 2364 | 1340        | NA06994         |
| 2367 | 1340        | NA07000         |
| 2374 | 13291       | NA07037         |
| 2376 | 1341        | NA07048         |
| 2377 | 13292       | NA07051         |
| 2379 | 1340        | NA07056         |
| 2383 | 1345        | NA07347         |
| 2386 | 1345        | NA07357         |
| 2400 | 1334        | NA10847         |
| 2402 | 1344        | NA10851         |
| 2415 | 1350        | NA11829         |
| 2416 | 1350        | NA11830         |
| 2417 | 1350        | NA11831         |
| 2418 | 1350        | NA11832         |
| 2420 | 1349        | NA11840         |
| 2421 | 1349        | NA11843         |
| 2422 | 1347        | NA11881         |
| 2425 | 1377        | NA11892         |
| 2426 | 1377        | NA11893         |
| 2427 | 1377        | NA11894         |
| 2429 | 1423        | NA11918         |
| 2430 | 1423        | NA11919         |
| 2431 | 1423        | NA11920         |
| 2432 | 1424        | NA11930         |
| 2433 | 1424        | NA11931         |
| 2434 | 1424a       | NA11932         |
| 2435 | 1424a       | NA11933         |
| 2436 | 1362        | NA11992         |
| 2438 | 1362        | NA11994         |
| 2439 | 1362        | NA11995         |
| 2440 | 1420        | NA12003         |
| 2441 | 1420        | NA12004         |
| 2442 | 1420        | NA12005         |
| 2443 | 1420        | NA12006         |
| 2444 | 1346        | NA12043         |
| 2445 | 1346        | NA12044         |
| 2446 | 1346        | NA12045         |
| 2447 | 1346        | NA12046         |
| 2450 | 1344        | NA12058         |
| 2451 | 1334        | NA12144         |
| 2454 | 1408        | NA12154         |
| 2455 | 1408        | NA12155         |
| 2456 | 1408        | NA12156         |
| 2457 | 1375        | NA12234         |
| 2461 | 1416        | NA12249         |
| 2463 | 1418        | NA12272         |
| 2464 | 1418        | NA12273         |
| 2466 | 1418        | NA12275         |
| 2467 | 1421a       | NA12282         |
| 2468 | 1421a       | NA12283         |
| 2469 | 1421        | NA12286         |
| 2470 | 1421        | NA12287         |
| 2474 | 1330        | NA12340         |
| 2475 | 1330        | NA12341         |
| 2476 | 1330        | NA12342         |
| 2479 | 13281       | NA12347         |
| 2480 | 13281       | NA12348         |
| 2483 | 1353        | NA12383         |
| 2485 | 1354        | NA12399         |
| 2486 | 1354        | NA12400         |
| 2487 | 1355        | NA12413         |
| 2488 | 1355        | NA12414         |
| 2490 | 1353        | NA12489         |
| 2491 | 1353        | NA12546         |
| 2494 | 1358        | NA12716         |
| 2495 | 1358        | NA12717         |
| 2496 | 1358        | NA12718         |
| 2499 | 1444        | NA12748         |
| 2500 | 1444        | NA12749         |
| 2501 | 1444        | NA12750         |
| 2502 | 1444        | NA12751         |
| 2505 | 1447        | NA12760         |
| 2506 | 1447        | NA12761         |
| 2507 | 1447        | NA12762         |
| 2508 | 1447        | NA12763         |
| 2511 | 1451        | NA12775         |
| 2512 | 1451        | NA12776         |
| 2513 | 1451        | NA12777         |
| 2514 | 1451        | NA12778         |
| 2517 | 1454        | NA12812         |
| 2518 | 1454        | NA12813         |
| 2519 | 1454        | NA12814         |
| 2520 | 1454        | NA12815         |
| 2523 | 1456        | NA12827         |
| 2524 | 1456        | NA12828         |
| 2525 | 1456        | NA12829         |
| 2526 | 1456        | NA12830         |
| 2528 | 1458        | NA12842         |
| 2529 | 1458        | NA12843         |
| 2532 | 1459        | NA12872         |
| 2533 | 1459        | NA12873         |
| 2534 | 1459        | NA12874         |
| 2537 | 1463        | NA12878         |
| 2538 | 1463        | NA12889         |
| 2539 | 1463        | NA12890         |
| 3466 | NA20502     | NA20502         |
| 3467 | NA20503     | NA20503         |
| 3468 | NA20504     | NA20504         |
| 3469 | NA20505     | NA20505         |
| 3470 | NA20506     | NA20506         |
| 3471 | NA20507     | NA20507         |
| 3472 | NA20508     | NA20508         |
| 3473 | NA20509     | NA20509         |
| 3474 | NA20510     | NA20510         |
| 3475 | NA20511     | NA20511         |
| 3476 | NA20512     | NA20512         |
| 3477 | NA20513     | NA20513         |
| 3478 | NA20514     | NA20514         |
| 3479 | NA20515     | NA20515         |
| 3480 | NA20516     | NA20516         |
| 3481 | NA20517     | NA20517         |
| 3482 | NA20518     | NA20518         |
| 3483 | NA20519     | NA20519         |
| 3484 | NA20520     | NA20520         |
| 3485 | NA20521     | NA20521         |
| 3486 | NA20522     | NA20522         |
| 3487 | NA20524     | NA20524         |
| 3488 | NA20525     | NA20525         |
| 3490 | NA20527     | NA20527         |
| 3491 | NA20528     | NA20528         |
| 3492 | NA20529     | NA20529         |
| 3493 | NA20530     | NA20530         |
| 3494 | NA20531     | NA20531         |
| 3495 | NA20532     | NA20532         |
| 3496 | NA20533     | NA20533         |
| 3497 | NA20534     | NA20534         |
| 3498 | NA20535     | NA20535         |
| 3499 | NA20536     | NA20536         |
| 3501 | NA20538     | NA20538         |
| 3502 | NA20539     | NA20539         |
| 3503 | NA20540     | NA20540         |
| 3504 | NA20541     | NA20541         |
| 3505 | NA20542     | NA20542         |
| 3506 | NA20543     | NA20543         |
| 3507 | NA20544     | NA20544         |
| 3508 | NA20581     | NA20581         |
| 3509 | NA20582     | NA20582         |
| 3510 | NA20585     | NA20585         |
| 3511 | NA20586     | NA20586         |
| 3512 | NA20587     | NA20587         |
| 3513 | NA20588     | NA20588         |
| 3514 | NA20589     | NA20589         |
| 3515 | NA20752     | NA20752         |
| 3516 | NA20753     | NA20753         |
| 3517 | NA20754     | NA20754         |
| 3518 | NA20755     | NA20755         |
| 3519 | NA20756     | NA20756         |
| 3520 | NA20757     | NA20757         |
| 3521 | NA20758     | NA20758         |
| 3522 | NA20759     | NA20759         |
| 3523 | NA20760     | NA20760         |
| 3524 | NA20761     | NA20761         |
| 3525 | NA20762     | NA20762         |
| 3526 | NA20763     | NA20763         |
| 3527 | NA20764     | NA20764         |
| 3528 | NA20765     | NA20765         |
| 3529 | NA20766     | NA20766         |
| 3530 | NA20767     | NA20767         |
| 3531 | NA20768     | NA20768         |
| 3532 | NA20769     | NA20769         |
| 3533 | NA20770     | NA20770         |
| 3534 | NA20771     | NA20771         |
| 3535 | NA20772     | NA20772         |
| 3536 | NA20773     | NA20773         |
| 3537 | NA20774     | NA20774         |
| 3538 | NA20775     | NA20775         |
| 3539 | NA20778     | NA20778         |
| 3540 | NA20783     | NA20783         |
| 3541 | NA20785     | NA20785         |
| 3542 | NA20786     | NA20786         |
| 3543 | NA20787     | NA20787         |
| 3544 | NA20790     | NA20790         |
| 3545 | NA20792     | NA20792         |
| 3546 | NA20795     | NA20795         |
| 3547 | NA20796     | NA20796         |
| 3548 | NA20797     | NA20797         |
| 3549 | NA20798     | NA20798         |
| 3550 | NA20799     | NA20799         |
| 3551 | NA20800     | NA20800         |
| 3552 | NA20801     | NA20801         |
| 3553 | NA20802     | NA20802         |
| 3554 | NA20803     | NA20803         |
| 3555 | NA20804     | NA20804         |
| 3556 | NA20805     | NA20805         |

##### 1.2 Run this command to get the plink triplet files from the 1000 genomes data for chromosome 22 filtered for european individuals

plink --vcf /Users/tanvibansal/Documents/GitHub/Capstone/generated_plink_files/chr22/ALL.chr22.phase3_shapeit2_mvncall_integrated_v5b.20130502.genotypes.vcf.gz --keep /Users/tanvibansal/Documents/GitHub/Capstone/eur_individuals.txt --make-bed --out /Users/tanvibansal/Documents/GitHub/Capstone/generated_plink_files/chr22/22_1000g

In [27]:
#read and display our generated .bim file 
bim = pd.read_csv("/Users/tanvibansal/Documents/GitHub/Capstone/generated_plink_files/chr22/1000g_eur/22_1000g.bim",sep="\t",header=None,names=["CHR","SNP","CM","POS","A1","A2"])
bim = bim.astype({"POS":"int32"})
bim

         CHR SNP  CM       POS A1 A2
0         22   .   0  16050075  G  A
1         22   .   0  16050115  A  G
2         22   .   0  16050213  T  C
3         22   .   0  16050319  T  C
4         22   .   0  16050527  A  C
...      ...  ..  ..       ... .. ..
1103542   22   .   0  51241342  A  C
1103543   22   .   0  51241386  G  C
1103544   22   .   0  51244163  G  A
1103545   22   .   0  51244205  T  C
1103546   22   .   0  51244237  T  C

[1103547 rows x 6 columns]

#### 2. SNP match 1000 genomes to GWAS and assign SNP IDs

The 1000 genomes data we generated the .bim file does not include SNP ID's, so we need to create a process here to add them to the .bim file so we can filter by ID's in the HapMap3 list. But, sometimes our generated .bim file has multiple records for mutations at a given base pair location/chromosome to keep track of multiple versions of a mutation at that location (see cell below). The GWAS correlations are computed only for specific versions of these mutations (i.e. Allele 1 = X -> Allele 1 = Y), so we'll need to filter the SNP's in the .bim file to match the SNP's in the GWAS df. 

The tricky part is that A1 and A2 may be swapped as different sources prefer different standards with minor allele assignment, so we'll need to find cases where SNP's in the .bim file match the chromosome and position of SNP's in the GWAS file, then further downselect to cases where A1 = A1 and A2 = A2 OR  A1 = A2 and A2 = A1. Then we can name the SNPs in accordance with the GWAS file, generate random ID's for SNP's without a matching GWAS ID, and output a valid .bim file format to regenerate the plink triplet.

In [28]:
#download modified GWAS file with HM's modifications to naming convention 
#gwas_imputed = pd.read_csv("/Users/tanvibansal/Documents/GitHub/Capstone/HEIGHT_irnt.gwas.imputed_v3.both_sexes.tsv",sep="\t")
gwas_df = gwas_df.rename(columns={"chr":"CHR","pos":"POS"})

#filter for chromosome of interest and cast position column to integer
gwas_22 = gwas_df.loc[(gwas_df.CHR ==22)]
gwas_22 = gwas_22.astype({"POS":"int32"})

#now join the 1000g generated bim file to the modified gwas file
bim_gwas_df = bim.merge(gwas_22, on = ["CHR","POS"],suffixes=(".bim",".gwas"),how="left")
bim_gwas_df

         CHR SNP  CM       POS A1 A2  ... beta  se  tstat pval  ref  alt
0         22   .   0  16050075  G  A  ...  NaN NaN    NaN  NaN  NaN  NaN
1         22   .   0  16050115  A  G  ...  NaN NaN    NaN  NaN  NaN  NaN
2         22   .   0  16050213  T  C  ...  NaN NaN    NaN  NaN  NaN  NaN
3         22   .   0  16050319  T  C  ...  NaN NaN    NaN  NaN  NaN  NaN
4         22   .   0  16050527  A  C  ...  NaN NaN    NaN  NaN  NaN  NaN
...      ...  ..  ..       ... .. ..  ...  ...  ..    ...  ...  ...  ...
1103873   22   .   0  51241342  A  C  ...  NaN NaN    NaN  NaN  NaN  NaN
1103874   22   .   0  51241386  G  C  ...  NaN NaN    NaN  NaN  NaN  NaN
1103875   22   .   0  51244163  G  A  ...  NaN NaN    NaN  NaN  NaN  NaN
1103876   22   .   0  51244205  T  C  ...  NaN NaN    NaN  NaN  NaN  NaN
1103877   22   .   0  51244237  T  C  ...  NaN NaN    NaN  NaN  NaN  NaN

[1103878 rows x 19 columns]

In [29]:
#start with the subset of our .bim dataframe that has matching GWAS data populated. The rest of the df will get random ID's generated, we'll come back to that later
bim_gwas_df_no_null = bim_gwas_df.loc[~bim_gwas_df.ref.isnull()]

#get positions of SNPs that are duplicated in the non-null df. These SNP's will need to be filtered based on true allele matches in GWAS df
duplicate_snp_pos = bim_gwas_df_no_null.loc[bim_gwas_df_no_null.POS.duplicated(),"POS"].values
def duplicate_variant_finder(df):
    duplicate_variants = collections.Counter(bim_gwas_df_allele_match.variant.values) 
    dvs = [k  for k in duplicate_variants.keys() if duplicate_variants[k] > 1]
    return(dvs)
    
bim_gwas_df_duplicate = bim_gwas_df_no_null.iloc[np.isin(bim_gwas_df_no_null.POS.values,duplicate_snp_pos)].sort_values(by = "POS")

#define function to return 1 if the alleles in .bim are the same as in gwas (regardless of order), 0 if not
import collections 
def allele_match_finder(x):
    bim_alleles = x[['A1','A2']]
    gwas_alleles = x[['ref','alt']]
    same = collections.Counter(bim_alleles) == collections.Counter(gwas_alleles)
    if same:
        out = 1
    else:
        out = 0
    return out
bim_gwas_df_duplicate["allele_match"] = bim_gwas_df_duplicate.apply(lambda x: allele_match_finder(x),axis=1) 

#that works, lets just run allele_match_finder over the whole non-null dataset for simplicity and ignore the rows with allele_match = 0. 
#we'll need to generate random IDs for these later
bim_gwas_df_no_null["allele_match"] = bim_gwas_df_no_null.apply(lambda x: allele_match_finder(x),axis=1) 
bim_gwas_df_no_null

/var/folders/z0/1hhlpnfn2mz3vk7t57zdcy0w0000gn/T/ipykernel_46541/3492587372.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bim_gwas_df_no_null["allele_match"] = bim_gwas_df_no_null.apply(lambda x: allele_match_finder(x),axis=1)

         CHR SNP  CM       POS A1  ...     tstat      pval ref  alt allele_match
5419      22   .   0  16464274  C  ...  1.072040  0.283702   A    C            1
5834      22   .   0  16488635  A  ...  1.223410  0.221175   C    A            1
5837      22   .   0  16488702  C  ...  1.197910  0.230954   G    C            1
6013      22   .   0  16495833  A  ...  1.334020  0.182199   C    A            1
6069      22   .   0  16498458  A  ...  1.277110  0.201566   G    A            1
...      ...  ..  ..       ... ..  ...       ...       ...  ..  ...          ...
1103673   22   .   0  51229717  T  ... -1.218610  0.222992   A    T            1
1103679   22   .   0  51229805  C  ...  0.563533  0.573073   T    C            1
1103716   22   .   0  51231220  G  ...  0.532177  0.594604   A    G            1
1103804   22   .   0  51237063  C  ... -0.895286  0.370635   T    C            1
1103831   22   .   0  51237712  A  ...  0.344285  0.730632   G    A            1

[174549 rows x 20 columns]

In [30]:
bim_gwas_df_duplicate

         CHR SNP  CM       POS  ...      pval          ref     alt allele_match
19710     22   .   0  17102425  ...  0.719985          CCT       C            0
19711     22   .   0  17102425  ...  0.719985          CCT       C            1
20885     22   .   0  17136274  ...  0.925681            T       A            1
20886     22   .   0  17136274  ...  0.876991            T      TA            0
21099     22   .   0  17141436  ...  0.606889            C   CCGAA            0
...      ...  ..  ..       ...  ...       ...          ...     ...          ...
1097697   22   .   0  51041570  ...  0.763534            C       G            1
1099169   22   .   0  51085928  ...  0.632848  AAAAAGAAAAG       A            0
1099170   22   .   0  51085928  ...  0.175882            A  AAAAAG            0
1099168   22   .   0  51085928  ...  0.175882            A  AAAAAG            1
1099171   22   .   0  51085928  ...  0.632848  AAAAAGAAAAG       A            1

[1498 rows x 20 columns]

In [31]:
bim_gwas_df_allele_match = bim_gwas_df_no_null.loc[bim_gwas_df_no_null.allele_match ==1] 

#now lets check for duplicate variant IDs in our remaining set as the plink extraction will fail if any SNP IDs are repeated
duplicate_variants = collections.Counter(bim_gwas_df_allele_match.variant.values) 
dvs = [k  for k in duplicate_variants.keys() if duplicate_variants[k] > 1]
duplicate_variants_df = bim_gwas_df_no_null_drop_dupl.iloc[np.isin(bim_gwas_df_no_null_drop_dupl.variant,dvs)]
print("Variant ID's with duplicates remaining: %s"%(len(dvs))) 
duplicate_variants_df.head(15)

#we can see that variants with 2 instances are all replicated because A1 and A2 in the .bim file are present in both orders. 
#lets just take the cases where A2 == ref for now
x = duplicate_variants_df.iloc[1]
def allele_order_finder(x):
    if x.A2 == x.ref:
        out = 1
    else:
        out = 0
    return out
bim_gwas_df_no_null["allele_ordered"] = bim_gwas_df_no_null.apply(lambda x: allele_order_finder(x),axis=1)
bim_gwas_df_no_null

NameError: name 'bim_gwas_df_no_null_drop_dupl' is not defined

In [32]:
bim.iloc[np.isin(bim.POS.values, 16464274)]

      CHR SNP  CM       POS A1 A2
5419   22   .   0  16464274  C  A

In [33]:
#now lets test again how many duplicate variant IDs we have
#bim_gwas_df_allele_match_ordered = bim_gwas_df_no_null.loc[(bim_gwas_df_no_null.allele_match ==1) & (bim_gwas_df_no_null.allele_ordered == 1)] 
#duplicate_variants = collections.Counter(bim_gwas_df_allele_match_ordered.variant.values)
#dvs = [k for k in duplicate_variants.keys() if duplicate_variants[k] > 1]
#print("Variant ID's with duplicates remaining: %s"%(len(dvs)))

#no more duplicate variant IDs, now dump this all into a function to run over each row of the .bim file we can parallelize
def SNP_id_finder(x, gwas_df):
    x_gwas_df = gwas_df.loc[(gwas_df.CHR == x.CHR) & (gwas_df.POS == x.POS)]
    n_matches = len(x_gwas_df)
    alternate_id = "%s:%s"%(x.POS,x.name)
    if n_matches == 0:
        return alternate_id
    else:
        #allel match check
        allele_match = [collections.Counter(x[['A1','A2']]) == collections.Counter(x_gwas_df.iloc[i][['ref','alt']]) for i in range(len(x_gwas_df))]
        if sum(allele_match) == 0:
            return alternate_id
        else:
            matches = x_gwas_df.loc[allele_match]
            #if len(matches) == 1:
             #   return matches.variant.values.item()
            #else:
            #allele order check
            allele_ordered = [x.A2 == matches.iloc[i]['ref'] for i in range(len(matches))]
            if sum(allele_ordered) == 0: # this should never happen but handling it here just in case
                return alternate_id
            else:
                matches_remaining = matches.loc[allele_ordered]
                if len(matches_remaining) == 1:
                    return matches_remaining.variant.values.item() 
                else:
                    return alternate_id # this should never happen but handling it here just in case

In [34]:
#run function over each row of the bim dataset
from pandarallel import pandarallel
import gc
pandarallel.initialize(progress_bar = False)
bim_ids = bim.parallel_apply(lambda x: SNP_id_finder(x, gwas_22),axis=1)
gc.collect()
duplicated_bim_ids = collections.Counter(bim_ids)
duplicate_ids = [k for k in duplicated_bim_ids.keys() if duplicated_bim_ids[k] > 1]
print("Duplicate SNP ID's: %s"%(len(duplicate_ids)))

INFO: Pandarallel will run on 10 workers.
INFO: Pandarallel will use standard multiprocessing data transfer (pipe) to transfer data between the main process and workers.
Duplicate SNP ID's: 0

In [101]:
#no duplicate ids, we're good to replace the SNP ID column with our computed IDs and write the whole modified .bim file out to txt
bim.loc[:,"SNP"]=bim_ids
bim.to_csv("/Users/tanvibansal/Documents/GitHub/Capstone/generated_plink_files/chr22/1000g_eur_hm3/modified.bim",sep="\t",header=None,index=False)

#find the common SNP ids between annot_df and .bim now and write out to .txt file to ensure we can run LDSC in the next stage
matches = bim_ids.apply(lambda x: len(x.split(":"))).sort_values(ascending=False)
matches = matches.loc[matches.values > 2]
unique_snps = bim_ids.loc[matches.index].to_frame().sort_values(by=0).rename(columns={0:"SNP"}).merge(annot_df.SNP).values
with open('/Users/tanvibansal/Documents/GitHub/Capstone/generated_plink_files/chr22/1000g_eur_hm3/filtered_snps.txt', 'w') as f:
    for snp in unique_snps:
        f.write(f"{snp[0]}\t") 

#filter annotation df for exact order and content match for SNP IDs and write to disk
annot_df_prep = annot_df.merge(bim_ids.loc[matches.index].to_frame(),left_on=["SNP"],right_on=[0]).sort_values(by="SNP").drop(columns=[0])
annot_df_prep["CM"] = 0.0 
annot_df_prep = annot_df_prep[["CHR","BP","SNP", "CM", "s_het_w.f1", "s_het_w.f2", "s_het_w.f3", "s_het_w.f4", "s_het_w.f5"]]
annot_df_prep.to_csv("/Users/tanvibansal/Documents/GitHub/Capstone/generated_plink_files/chr22/1000g_eur_hm3/s_het_weighted_ch22.annot",sep="\t",index=False)

##### Run this command to run the plink extraction
plink --bfile /Users/tanvibansal/Documents/GitHub/Capstone/generated_plink_files/chr22/1000g_eur_hm3/22_1000g_modified --extract /Users/tanvibansal/Documents/GitHub/Capstone/generated_plink_files/chr22/1000g_eur_hm3/filtered_snps.txt --make-bed --out /Users/tanvibansal/Documents/GitHub/Capstone/generated_plink_files/chr22/1000g_eur_hm3/22_1000g_filt

plink --vcf /Users/tanvibansal/Documents/GitHub/Capstone/generated_plink_files/chr22/ALL.chr22.phase3_shapeit2_mvncall_integrated_v5b.20130502.genotypes.vcf.gz --keep /Users/tanvibansal/Documents/GitHub/Capstone/eur_individuals.txt --make-bed --out /Users/tanvibansal/Documents/GitHub/Capstone/generated_plink_files/chr22/22_1000g


plink --bfile /Users/tanvibansal/Documents/GitHub/Capstone/generated_plink_files/chr22/1000g_eur --extract /Users/tanvibansal/Documents/GitHub/ldsc/1kg_eur/s_het_22/filtered_snps.txt --make-bed --out /Users/tanvibansal/Documents/GitHub/ldsc/1kg_eur/s_het_22

##### Run this comment to run the ld score computation 
python ldsc.py --l2 --bfile /Users/tanvibansal/Documents/GitHub/Capstone/generated_plink_files/chr22/1000g_eur_hm3/22_1000g_filt --ld-wind-cm 1 --annot /Users/tanvibansal/Documents/GitHub/Capstone/generated_plink_files/chr22/1000g_eur_hm3/s_het_weighted_ch22.annot --out /Users/tanvibansal/Documents/GitHub/Capstone/generated_plink_files/chr22/1000g_eur_hm3/s_het_w

In [ ]:
# Plot histograms for each difference column
def plot_histograms(df, columns):
    plt.figure(figsize=(14, 10))
    
    for i, col in enumerate(columns):
        plt.subplot(2, 3, i + 1)  # Create a subplot for each column
        df[col].hist(bins=50, color='skyblue', edgecolor='black')
        plt.title(f'Distribution of {col}')
        plt.xlabel('Value')
        plt.ylabel('Frequency')
    
    plt.tight_layout()
    plt.show()

# Define the columns to plot
columns_to_plot = ['diff_f1', 'diff_f2', 'diff_f3', 'diff_b1', 'diff_b2', 'diff_b3']
# Call the function to plot histograms
plot_histograms(f_b_final_with_differences, columns_to_plot)

columns_to_plot = ["f1_dist","f2_dist","f3_dist","f4_dist","f5_dist"]
plot_histograms(nearest_genes_sample_df, columns_to_plot)

In [ ]:
s_het_info = pd.read_excel('s_het_info.xlsx',sheet_name=1)

In [40]:
# Function to perform the merge for all forward and backward GeneSymbols and rename the 'post_mean' columns
def merge_s_het_info_with_all(f_b_final_with_differences, s_het_info, num_merges=3):
    # Rename 'ensg' column in s_het_info to match the GeneSymbol columns in f_b_final_with_differences
    s_het_info = s_het_info.rename(columns={'ensg': 'GeneSymbol'})

    # Iterate over both forward and backward gene symbols
    for i in range(1, num_merges + 1):
        # Forward merge for each GeneSymbol_f
        f_b_final_with_differences = pd.merge(
            f_b_final_with_differences, 
            s_het_info[['GeneSymbol', 'post_mean']], 
            left_on=f'GeneSymbol_f{i}', 
            right_on='GeneSymbol', 
            how='left',
            suffixes=('', f'_f{i}')
        )
        
        # Rename the post_mean column to indicate the forward direction
        f_b_final_with_differences = f_b_final_with_differences.rename(
            columns={'post_mean': f's_het_post_f{i}'}
        )
        
        # Drop the duplicated 'GeneSymbol' column created during the merge
        f_b_final_with_differences = f_b_final_with_differences.drop(columns='GeneSymbol', errors='ignore')

        # Backward merge for each GeneSymbol_b
        f_b_final_with_differences = pd.merge(
            f_b_final_with_differences, 
            s_het_info[['GeneSymbol', 'post_mean']], 
            left_on=f'GeneSymbol_b{i}', 
            right_on='GeneSymbol', 
            how='left',
            suffixes=('', f'_b{i}')
        )
        
        # Rename the post_mean column to indicate the backward direction
        f_b_final_with_differences = f_b_final_with_differences.rename(
            columns={'post_mean': f's_het_post_b{i}'}
        )
        
        # Drop the duplicated 'GeneSymbol' column created during the merge
        f_b_final_with_differences = f_b_final_with_differences.drop(columns='GeneSymbol', errors='ignore')

    return f_b_final_with_differences

# Example usage:
f_b_final_merged_s_het = merge_s_het_info_with_all(f_b_final_with_differences, s_het_info, num_merges=3)

In [ ]:
f_b_final_merged_s_het

In [47]:
# f_b_final_merged_s_het[['diff_b1']] = abs(f_b_final_merged_s_het[['diff_b1']])
# f_b_final_merged_s_het[['diff_b2']] = abs(f_b_final_merged_s_het[['diff_b3']])
# f_b_final_merged_s_het[['diff_b3']] = abs(f_b_final_merged_s_het[['diff_b3']])
# Loop to apply the absolute value for all diff_b columns
def apply_abs_diff_b(f_b_final_merged_s_het, num_merges=3):
    for i in range(1, num_merges + 1):
        f_b_final_merged_s_het[f'diff_b{i}'] = f_b_final_merged_s_het[f'diff_b{i}'].abs()

    return f_b_final_merged_s_het

# Example usage:
f_b_final_merged_s_het = apply_abs_diff_b(f_b_final_merged_s_het, num_merges=3)

In [ ]:
f_b_final_merged_s_het

In [49]:
# Function to keep only the distance and s_het measures from the dataframe
def keep_dist_and_s_het_measures(df, num_merges=3):
    # List to store column names for distance and s_het measures
    columns_to_keep = ['variant', 'chr', 'pos']

    # Loop to collect the diff and s_het_post column names for forward and backward directions
    for i in range(1, num_merges + 1):
        columns_to_keep.append(f'diff_f{i}')
        columns_to_keep.append(f'diff_b{i}')
        columns_to_keep.append(f's_het_post_f{i}')
        columns_to_keep.append(f's_het_post_b{i}')

    # Keep only the relevant columns
    df_filtered = df[columns_to_keep]

    return df_filtered

# Example usage:
filtered_f_b_final = keep_dist_and_s_het_measures(f_b_final_merged_s_het, num_merges=3)

In [ ]:
filtered_f_b_final

In [ ]:
# Function to compute s_het weighted by 1/distance per gene-SNP pair
def compute_weighted_s_het(df, num_merges=3):
    # Loop to compute the weighted s_het for both forward and backward directions
    for i in range(1, num_merges + 1):
        # Calculate inverse distance for forward and backward directions
        df[f'inv_dist_f{i}'] = 1 / df[f'diff_f{i}']
        df[f'inv_dist_b{i}'] = 1 / df[f'diff_b{i}']
        
        # Compute weighted s_het by multiplying s_het by inverse distance
        df[f'weighted_s_het_f{i}'] = df[f'inv_dist_f{i}'] * df[f's_het_post_f{i}']
        df[f'weighted_s_het_b{i}'] = df[f'inv_dist_b{i}'] * df[f's_het_post_b{i}']

    return df

# Example usage:
weighted_f_b_final = compute_weighted_s_het(filtered_f_b_final, num_merges=3)

In [ ]:
weighted_f_b_final

In [53]:
# Function to keep only the weighted s_het values from the dataframe
def keep_weighted_s_het(df, num_merges=3):
    # List to store column names for weighted s_het values
    columns_to_keep = ['variant', 'chr', 'pos']

    # Loop to collect the weighted_s_het column names for forward and backward directions
    for i in range(1, num_merges + 1):
        columns_to_keep.append(f'weighted_s_het_f{i}')
        columns_to_keep.append(f'weighted_s_het_b{i}')

    # Keep only the relevant columns
    df_filtered = df[columns_to_keep]

    return df_filtered

# Example usage:
weighted_s_het_only = keep_weighted_s_het(weighted_f_b_final, num_merges=3)

In [ ]:
weighted_s_het_only

In [ ]:
#oliver's results 
weighted_s_het_only.iloc[np.argwhere(np.isin(weighted_s_het_only.variant, m["variant.mut"].values)).flatten()]