# Import Gene Annotation File

https://github.com/hakha-most/gwas_eqtl/blob/master/gene_annotations/genes.protein_coding.v39.gtf

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import gzip

# Local path to GTF file
gtf_file_path = 'genes.protein_coding.v39.gtf'

# Load the GTF file into a pandas DataFrame and use the first row as headers
gtf_df = pd.read_csv(gtf_file_path, sep='\t', header=0)

# Display the first few rows of the dataframe
gtf_df.sort_values('start')
gtf_df.head()

    chr   start     end strand  ...    gene     hgnc_id     tss     tes
0  chr1   65419   71585      +  ...   OR4F5  HGNC:14825   65419   71585
1  chr1  621096  622034      -  ...  OR4F16  HGNC:15079  622034  621096
2  chr1  859303  879955      +  ...  SAMD11  HGNC:28706  859303  879955
3  chr1  879583  894689      -  ...   NOC2L  HGNC:24517  894689  879583
4  chr1  895964  901099      +  ...  KLHL17  HGNC:24023  895964  901099

[5 rows x 10 columns]

#### convert chr to int

In [2]:
gtf_df['chr'] = gtf_df['chr'].str[3:].astype(int)
gtf_df['start'] = gtf_df['start'].astype(int)
gtf_df.groupby('chr')['start'].agg({'min', 'max'}).reset_index()

    chr       min        max
0     1     65419  249200395
1     2     38814  242836139
2     3    238446  197687071
3     4     53180  190945522
4     5     92283  180794269
5     6    291630  170884383
6     7    330136  158820866
7     8    116086  146277851
8     9     14475  140772234
9    10     92828  135437399
10   11    167784  134248398
11   12    175933  133794898
12   13  19747912  115079957
13   14  19377594  105992920
14   15  20737094  102462245
15   16     96407   90122974
16   17      5810   81037485
17   18     47221   77915115
18   19    107104   59073298
19   20     67891   62887048
20   21  14982098   48055507
21   22  17071641   51205929

Positions reset for each chromosome

### File Description

This file contains **gene annotations** for **protein-coding genes** and provides information about the **location of genes on the genome**. Below is a description of each column:

1. **chr**: The chromosome where the gene is located (e.g., `chr1`, `chr2`, etc.).
2. **start**: The start position of the gene on the chromosome (in base pairs).
3. **end**: The end position of the gene on the chromosome (in base pairs).
4. **strand**: Indicates the strand on which the gene is located (`+` for forward strand, `-` for reverse strand).
5. **GeneSymbol**: The symbol or name of the gene (e.g., `OR4F5`, `SAMD11`), typically assigned by organizations like HGNC (HUGO Gene Nomenclature Committee).
6. **cons**: This column indicates the type of gene. In this file, all genes are classified as **protein_coding**.
7. **gene**: The Ensembl gene ID, a unique identifier for the gene (e.g., `ENSG00000186092`).
8. **hgnc_id**: The unique identifier for the gene assigned by the **HGNC** (HUGO Gene Nomenclature Committee).
9. **tss**: The **transcription start site**, the position where transcription of the gene starts on the chromosome.
10. **tes**: The **transcription end site**, the position where transcription of the gene ends on the chromosome.

# Import GWAS data

 https://docs.google.com/spreadsheets/d/1kvPoupSzsSFBNSztMzl04xMoSC3Kcx3CrjVf4yBmESU/edit?gid=178908679#gid=178908679 (row 7217)
 
 50_irnt.gwas.imputed_v3.both_sexes.tsv.bgz'

In [ ]:
# Path to GWAS file
gwas_file_path = '50_irnt.gwas.imputed_v3.both_sexes.tsv.bgz'

# Open and read the compressed .bgz file using gzip
with gzip.open(gwas_file_path, 'rt') as f:
    # Load the file into a pandas DataFrame
    gwas_df = pd.read_csv(f, sep='\t')

In [5]:
# Display the first few rows to inspect the structure of the GWAS file
gwas_df

                    variant minor_allele  ...     tstat      pval
0               1:15791:C:T            T  ...  0.101138  0.919441
1               1:69487:G:A            A  ... -0.118272  0.905852
2               1:69569:T:C            C  ... -0.749571  0.453514
3              1:139853:C:T            T  ... -0.120302  0.904244
4             1:692794:CA:C            C  ...  0.274788  0.783479
...                     ...          ...  ...       ...       ...
13791462    X:154929412:C:T            T  ... -1.044020  0.296477
13791463   X:154929637:CT:C            C  ... -0.998454  0.318060
13791464  X:154929952:CAA:C            C  ... -1.011490  0.311783
13791465    X:154930230:A:G            G  ... -0.957369  0.338381
13791466    X:154930487:T:A            A  ... -2.441660  0.014620

[13791467 rows x 11 columns]

### GWAS Summary Statistics Dataset Description

1. **variant**: The unique identifier for each SNP (Single Nucleotide Polymorphism). This can include information like chromosome, position, reference allele, and alternative allele (e.g., `1:12345:A:G`).
   - **Example**: `1:10583:T:G`

2. **minor_allele**: The allele that is less frequent in the population (minor allele) for this particular SNP.
   - **Example**: `G`

3. **minor_AF**: The **minor allele frequency** (AF), which represents the frequency of the minor allele in the population. It ranges from 0 to 1.
   - **Example**: `0.35` (35% of individuals carry the minor allele)

4. **low_confidence_variant**: A flag indicating whether the variant has **low confidence** due to imputation quality or other uncertainties. Values may be `TRUE` or `FALSE`.
   - **Example**: `FALSE`

5. **n_complete_samples**: The number of samples for which complete genotype data is available for this variant.
   - **Example**: `300,000`

6. **AC**: The **allele count** of the minor allele, i.e., the number of times the minor allele appears in the study population (across all samples).
   - **Example**: `50000`

7. **ytx**: Likely a placeholder for a phenotype-related statistic; depending on the dataset, this could represent something like the trait mean or effect size (its exact meaning depends on the specific analysis).

8. **beta**: The **effect size** of the SNP on the trait being studied (in this case, likely height). It represents the change in the trait per additional copy of the minor allele.
   - **Example**: `0.05` (the trait increases by 0.05 units for each additional copy of the minor allele)

9. **se**: The **standard error** of the effect size (beta), indicating the precision of the estimated effect.
   - **Example**: `0.01`

10. **tstat**: The **t-statistic** for the beta estimate, which is the ratio of the beta estimate to its standard error.
    - **Example**: `5.0` (higher values indicate more significant associations)

11. **pval**: The **p-value** of the association between the SNP and the trait. This indicates the significance of the result, with smaller p-values suggesting stronger evidence that the SNP is associated with the trait.
    - **Example**: `1.2e-6` (a very small p-value, indicating strong evidence of association)

# Find Variant Chromosome and Position

In [6]:
gwas_df[['chr', 'pos', 'ref', 'alt']] = gwas_df['variant'].str.split(':', expand=True)
gwas_df = gwas_df.loc[gwas_df['chr'] != 'X']
gwas_df['chr'] = gwas_df['chr'].astype(int)
gwas_df['pos'] = gwas_df['pos'].astype(int)

gwas_df.groupby('chr')['pos'].agg({'min','max'}).reset_index()

/var/folders/z0/1hhlpnfn2mz3vk7t57zdcy0w0000gn/T/ipykernel_92009/2974836220.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gwas_df['chr'] = gwas_df['chr'].astype(int)
/var/folders/z0/1hhlpnfn2mz3vk7t57zdcy0w0000gn/T/ipykernel_92009/2974836220.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gwas_df['pos'] = gwas_df['pos'].astype(int)

    chr       min        max
0     1     15791  249230914
1     2     10181  243082521
2     3     60197  197900375
3     4     13012  190922257
4     5     11882  180736061
5     6    202076  170934414
6     7     27916  159128550
7     8     34440  146303560
8     9     40997  141104957
9    10     61334  135503523
10   11    131128  134946451
11   12    163752  133840247
12   13  19022393  115109852
13   14  19185163  107289436
14   15  20001226  102461014
15   16     60455   90238127
16   17       302   81109537
17   18     11603   78017073
18   19    229783   59117442
19   20     61098   62963628
20   21   9574185   48119634
21   22  16464274   51237712

It appears that position resets on each chromosome

# Join to Find 5 Nearest Genes

In [31]:
def repeated_forward_merge(gwas_df, gtf_df, num_merges=3):
    # Initial sorting of key columns for the first merge
    gwas_sorted = gwas_df[['variant', 'pval', 'chr', 'pos']].sort_values('pos')
    gtf_sorted = gtf_df[['chr', 'start', 'GeneSymbol', 'gene']].sort_values('start')

    # Ensure both 'start' columns are of the same type (convert to float to handle NaNs)
    gtf_sorted['start'] = gtf_sorted['start'].astype(float)
    gwas_sorted['pos'] = gwas_sorted['pos'].astype(float)

    # First merge_asof
    merged_df = pd.merge_asof(
        gwas_sorted, 
        gtf_sorted, 
        by='chr', 
        left_on='pos', 
        right_on='start', 
        direction='forward',
        suffixes=('', '_f1')  # First set of suffixes
    )

    # Replace NaN values in 'start' column and rename for subsequent merges
    merged_df['start'] = merged_df['start'].fillna(np.inf)
    merged_df = merged_df.rename(columns={'start': 'start_f1', 'GeneSymbol': 'GeneSymbol_f1', 'gene': 'gene_f1'})
    merged_df = merged_df.sort_values('start_f1')

    # Iterative forward merges
    for i in range(2, num_merges + 1):
        # Ensure both columns are of the same type
        merged_df[f'start_f{i-1}'] = merged_df[f'start_f{i-1}'].astype(float)
        gtf_sorted['start'] = gtf_sorted['start'].astype(float)

        # Perform the next forward merge
        merged_df = pd.merge_asof(
            merged_df, 
            gtf_sorted, 
            by='chr', 
            left_on=f'start_f{i-1}', 
            right_on='start', 
            direction='forward',
            allow_exact_matches=False,
            suffixes=(f'_f{i-1}', f'_f{i}')
        )

        # Replace NaN values in the new 'start' column and rename for next iteration
        merged_df['start'] = merged_df['start'].fillna(np.inf)
        merged_df = merged_df.rename(columns={
            'start': f'start_f{i}', 
            'GeneSymbol': f'GeneSymbol_f{i}', 
            'gene': f'gene_f{i}'
        })
        merged_df = merged_df.sort_values(f'start_f{i}')

    # After the last merge, replace all np.inf values back to NaN
    for i in range(1, num_merges + 1):
        merged_df[f'start_f{i}'] = merged_df[f'start_f{i}'].replace(np.inf, np.nan)
    
    return merged_df

f_final = repeated_forward_merge(gwas_df, gtf_df, num_merges=3)

In [33]:
# Adjusted function to ensure all negative infinity values are replaced with NaN in the final result
def repeated_backward_merge_with_nan(gwas_df, gtf_df, num_merges=3):
    # Initial sorting of key columns for the first merge
    gwas_sorted = gwas_df.sort_values('pos')
    gtf_sorted = gtf_df[['chr', 'start', 'GeneSymbol', 'gene']].sort_values('start')

    # Ensure both 'start' columns are of the same type (convert to float to handle NaNs)
    gtf_sorted['start'] = gtf_sorted['start'].astype(float)
    gwas_sorted['pos'] = gwas_sorted['pos'].astype(float)

    # First backward merge_asof
    merged_df = pd.merge_asof(
        gwas_sorted, 
        gtf_sorted, 
        by='chr', 
        left_on='pos', 
        right_on='start', 
        direction='backward',
        suffixes=('', '_b1')  # First set of suffixes
    )

    # Replace NaN values in 'start' column and rename for subsequent merges
    merged_df['start'] = merged_df['start'].fillna(-np.inf)
    merged_df = merged_df.rename(columns={'start': 'start_b1', 'GeneSymbol': 'GeneSymbol_b1', 'gene': 'gene_b1'})
    merged_df = merged_df.sort_values('start_b1')

    # Iterative backward merges
    for i in range(2, num_merges + 1):
        # Ensure both columns are of the same type
        merged_df[f'start_b{i-1}'] = merged_df[f'start_b{i-1}'].astype(float)
        gtf_sorted['start'] = gtf_sorted['start'].astype(float)

        # Perform the next backward merge
        merged_df = pd.merge_asof(
            merged_df, 
            gtf_sorted, 
            by='chr', 
            left_on=f'start_b{i-1}', 
            right_on='start', 
            direction='backward',
            allow_exact_matches=False,
            suffixes=(f'_b{i-1}', f'_b{i}')
        )

        # Replace NaN values in the new 'start' column and rename for next iteration
        merged_df['start'] = merged_df['start'].fillna(-np.inf)
        merged_df = merged_df.rename(columns={
            'start': f'start_b{i}', 
            'GeneSymbol': f'GeneSymbol_b{i}', 
            'gene': f'gene_b{i}'
        })
        merged_df = merged_df.sort_values(f'start_b{i}')

    # After the last merge, replace all -np.inf values back to NaN
    for i in range(1, num_merges + 1):
        merged_df[f'start_b{i}'] = merged_df[f'start_b{i}'].replace(-np.inf, np.nan)
    
    return merged_df

# Example usage:
f_b_final = repeated_backward_merge_with_nan(f_final, gtf_df, num_merges=3)

In [35]:
# Function to calculate differences between pos and all forward and backward start columns
def calculate_differences(df, num_merges=3):
    # Calculate the difference between pos and start_f1, start_f2, ..., start_fx for forward merges
    for i in range(1, num_merges + 1):
        df[f'diff_f{i}'] = df[f'start_f{i}'] - df['pos']
    
    # Calculate the difference between pos and start_b1, start_b2, ..., start_bx for backward merges
    for i in range(1, num_merges + 1):
        df[f'diff_b{i}'] = df[f'start_b{i}'] - df['pos']
    
    return df

f_b_final_with_differences = calculate_differences(f_b_final, num_merges=3)

In [ ]:
f_b_final_with_differences[['diff_f1', 'diff_f2', 'diff_f3', 'diff_b1', 'diff_b2', 'diff_b3']].mean()

## Validation of above results: Implementing a lambda function to compute the 5 nearest neighboring genes for each mutation, then compute the inverse distance weighted s_het scores. Developing this solution to cross check the entries from the merge_asof method above

In [ ]:
from pandarallel import pandarallel
import os
import gc
os.chdir("/Users/tanvibansal/Documents/GitHub/Capstone")
#grab a small sample of the gwas dataframe containing mutation information 
gwas_df.head()
gtf_df.head()
gwas_sample = gwas_df.iloc[np.random.choice(range(len(gwas_df)),size=100000,replace=False)] 

#drop the genes that are not present in the s_het file as these may cause na's that will break the ldsc algorithm in the next step
s_het_info = pd.read_excel('s_het_info.xlsx',sheet_name=1).rename(columns={"ensg":"GeneSymbol"}).set_index("GeneSymbol")
gtf_df_tidy = s_het_info.join(gtf_df.set_index("GeneSymbol"),how="inner")[["chr","start","end","gene"]]

#write a function to find the 5 nearest genes by absolute difference in mutation position and gene start position
def nearest_gene_finder(m):
    #get the absolute l1 distance 
    dists = np.abs(gtf_df_tidy.loc[gtf_df_tidy.chr == m.chr,"start"] - m.pos)
    top_5 = dists.sort_values()[0:5]
    out = pd.DataFrame(m).T
    out[["GeneSymbol.f1","GeneSymbol.f2","GeneSymbol.f3","GeneSymbol.f4","GeneSymbol.f5"]] = top_5.index
    out[["dist.f1","dist.f2","dist.f3","dist.f4","dist.f5"]] = top_5.values/1000 #convert distance to kilobases by dividing through 1000
    return(out)

#create a sample of the gwas dataframe with only mutations on chr 22 for this stage
gwas_sample_22 = gwas_df.loc[gwas_df.chr ==22]

#apply the function over each row of the sample mutation df 
pandarallel.initialize(progress_bar=True)
mutn_5_nearest_genes_sample = gwas_sample_22.parallel_apply(lambda m: nearest_gene_finder(m),axis=1)
gc.collect() 
mutn_5_nearest_genes_sample_df = pd.concat(list(mutn_5_nearest_genes_sample))

#now join the s_het values onto each of our 5 nearest genes and compute the distance weighted s_het 
s_het_w = mutn_5_nearest_genes_sample_df.copy(deep=True)
for i in range(1,6):
    s_het_temp = s_het_info[["post_mean"]].reset_index().rename(columns = {"GeneSymbol":"GeneSymbol.f%s"%(i)}).set_index("GeneSymbol.f%s"%(i))
    s_het_w = s_het_w.reset_index().set_index("GeneSymbol.f%s"%(i)).join(s_het_temp)
    s_het_w["s_het.f%s"%(i)] = s_het_w["post_mean"]
    s_het_w["s_het_w.f%s"%(i)] = s_het_w["post_mean"]/s_het_w["dist.f%s"%(i)]
    s_het_w = s_het_w.drop(columns="post_mean")
s_het_w = s_het_w.reset_index() 
s_het_w

In [11]:
mutn_5_nearest_genes_sample_df = pd.concat(list(mutn_5_nearest_genes_sample))

#now join the s_het values onto each of our 5 nearest genes and compute the distance weighted s_het 
s_het_w = mutn_5_nearest_genes_sample_df.copy(deep=True)
for i in range(1,6):
    s_het_temp = s_het_info[["post_mean"]].reset_index().rename(columns = {"GeneSymbol":"GeneSymbol.f%s"%(i)}).set_index("GeneSymbol.f%s"%(i))
    s_het_w = s_het_w.reset_index().set_index("GeneSymbol.f%s"%(i)).join(s_het_temp)
    s_het_w["s_het.f%s"%(i)] = s_het_w["post_mean"]
    s_het_w["s_het_w.f%s"%(i)] = s_het_w["post_mean"]/s_het_w["dist.f%s"%(i)]
    s_het_w = s_het_w.drop(columns="post_mean")
s_het_w = s_het_w.reset_index() 
s_het_w

          GeneSymbol.f5    GeneSymbol.f4  ...  s_het.f5 s_het_w.f5
0       ENSG00000183307  ENSG00000177663  ...  0.118445   0.000105
1       ENSG00000183307  ENSG00000177663  ...  0.118445   0.000107
2       ENSG00000183307  ENSG00000177663  ...  0.118445   0.000107
3       ENSG00000183307  ENSG00000177663  ...  0.118445   0.000108
4       ENSG00000183307  ENSG00000177663  ...  0.118445   0.000108
...                 ...              ...  ...       ...        ...
179761  ENSG00000008735  ENSG00000100299  ...  0.706036   0.003706
179762  ENSG00000008735  ENSG00000100299  ...  0.706036   0.003705
179763  ENSG00000008735  ENSG00000100299  ...  0.706036   0.003677
179764  ENSG00000008735  ENSG00000100299  ...  0.706036   0.003569
179765  ENSG00000008735  ENSG00000100299  ...  0.706036   0.003557

[179766 rows x 36 columns]

In [220]:
s_het_w.sort_values(by = "dist.f1",ascending=True)

        level_0    GeneSymbol.f5  ... s_het_w.f4 s_het_w.f5
35779     35779  ENSG00000100014  ...   0.002741   0.000696
76336     76336  ENSG00000185666  ...   0.000086   0.000214
107911   107911  ENSG00000100146  ...   0.001480   0.002077
62361     62361  ENSG00000100330  ...   0.000199   0.001071
65901     65901  ENSG00000100036  ...   0.000014   0.000137
...         ...              ...  ...        ...        ...
85681     85681  ENSG00000100292  ...   0.000007   0.000004
85685     85685  ENSG00000100292  ...   0.000007   0.000004
85684     85684  ENSG00000100292  ...   0.000007   0.000004
85682     85682  ENSG00000100292  ...   0.000007   0.000004
85683     85683  ENSG00000100292  ...   0.000007   0.000004

[179766 rows x 32 columns]

## Prepare the annotation file containing our features for the LDSC program

In [12]:
#format the dataframe's column names, columns to retain, and match the SNPs present in the bim file
s_het_w = s_het_w.reset_index().rename(columns={'chr': 'CHR','pos': 'BP','variant': 'SNP'})
#annot_df = s_het_w[['CHR', 'BP', 'SNP', 's_het_w.f1', 's_het_w.f2', 's_het_w.f3', 's_het_w.f4', 's_het_w.f5']]
annot_df = s_het_w[['CHR', 'BP', 'SNP', 's_het.f1', 's_het.f2', 's_het.f3', 's_het.f4', 's_het.f5']]
annot_df = annot_df.sort_values(['CHR', 'BP'])
annot_df

       CHR        BP              SNP  ...  s_het.f3  s_het.f4  s_het.f5
0       22  16464274  22:16464274:A:C  ...  0.000249  0.008926  0.118445
1       22  16488635  22:16488635:C:A  ...  0.000249  0.008926  0.118445
2       22  16488702  22:16488702:G:C  ...  0.000249  0.008926  0.118445
3       22  16495833  22:16495833:C:A  ...  0.000249  0.008926  0.118445
4       22  16498458  22:16498458:G:A  ...  0.000249  0.008926  0.118445
...     ..       ...              ...  ...       ...       ...       ...
179761  22  51229717  22:51229717:A:T  ...  0.248066  0.001543  0.706036
179762  22  51229805  22:51229805:T:C  ...  0.248066  0.001543  0.706036
179763  22  51231220  22:51231220:A:G  ...  0.248066  0.001543  0.706036
179764  22  51237063  22:51237063:T:C  ...  0.248066  0.001543  0.706036
179765  22  51237712  22:51237712:G:A  ...  0.248066  0.001543  0.706036

[179766 rows x 8 columns]

In [13]:
annot_df

       CHR        BP              SNP  ...  s_het.f3  s_het.f4  s_het.f5
0       22  16464274  22:16464274:A:C  ...  0.000249  0.008926  0.118445
1       22  16488635  22:16488635:C:A  ...  0.000249  0.008926  0.118445
2       22  16488702  22:16488702:G:C  ...  0.000249  0.008926  0.118445
3       22  16495833  22:16495833:C:A  ...  0.000249  0.008926  0.118445
4       22  16498458  22:16498458:G:A  ...  0.000249  0.008926  0.118445
...     ..       ...              ...  ...       ...       ...       ...
179761  22  51229717  22:51229717:A:T  ...  0.248066  0.001543  0.706036
179762  22  51229805  22:51229805:T:C  ...  0.248066  0.001543  0.706036
179763  22  51231220  22:51231220:A:G  ...  0.248066  0.001543  0.706036
179764  22  51237063  22:51237063:T:C  ...  0.248066  0.001543  0.706036
179765  22  51237712  22:51237712:G:A  ...  0.248066  0.001543  0.706036

[179766 rows x 8 columns]

In [14]:
#column names for the bim file according to the plink documentation site
names = ["CHR","SNP","POS","BP","A1","A2"]
os.chdir("/Users/tanvibansal/Documents/GitHub/ldsc")
bim = pd.read_csv("22.bim",sep="\t",header=None,names=names)

#join the annotated df onto the bim file and sort in the order of the bim file exactly to prep for ldsc. we should have the same exact # of rows 
annot_df_filt = bim.set_index(["CHR","BP"]).join(annot_df.set_index(["CHR","BP"]),how="left",rsuffix=".a").drop_duplicates(subset=["SNP"])
annot_df_sort = annot_df_filt.reset_index().set_index("SNP").loc[bim.SNP.values]
annot_df_sort["CM"] = 0.0

#select the cols of interest and write the file out as .annot to use for ldsc
#annot_df_prep = annot_df_sort.reset_index()[["CHR","BP","SNP", "CM", "s_het_w.f1", "s_het_w.f2", "s_het_w.f3", "s_het_w.f4", "s_het_w.f5"]]
annot_df_prep = annot_df_sort.reset_index()[["CHR","BP","SNP", "CM", "s_het.f1", "s_het.f2", "s_het.f3", "s_het.f4", "s_het.f5"]]
annot_df_prep = annot_df_prep.dropna()
annot_df_prep.to_csv("1kg_eur/s_het_unweighted_ch22.annot",sep="\t",index=False)
annot_df_prep

unique_snps = annot_df_prep['SNP'].unique()  # Get unique SNPs to avoid duplicates

# Save the SNPs to a text file
with open('1kg_eur/s_het_22/filtered_snps.txt', 'w') as f:
    for snp in unique_snps:
        f.write(f"{snp}\n")

#### we need to run the following 2 commands to get the ldsc computation to run as intended 

1. Make the .bed/.bim files with our filtered SNPs


plink --bfile /Users/tanvibansal/Documents/GitHub/ldsc/1kg_eur/22 --extract /Users/tanvibansal/Documents/GitHub/ldsc/1kg_eur/s_het_22/filtered_snps.txt --make-bed --out /Users/tanvibansal/Documents/GitHub/ldsc/1kg_eur/s_het_22

2. Compute the ld scores with our inputs specified

python ldsc.py --l2 --bfile /Users/tanvibansal/Documents/GitHub/ldsc/1kg_eur/s_het_22_uw/s_het_22_uw --ld-wind-cm 1 --annot /Users/tanvibansal/Documents/GitHub/ldsc/1kg_eur/s_het_22_uw/s_het_uw_ch22.annot --out 1kg_eur/s_het_22_uw/s_het_22_uw

In [198]:
import gzip 
with gzip.open('1kg_eur/s_het_22.l2.ldscore.gz', 'rb') as f: 
    file_content = pd.read_csv(f,sep="\t")

In [202]:
file_content.sort_values(by="s_het_w.f1L2",ascending=False)

       CHR         SNP        BP  ...  s_het_w.f3L2  s_het_w.f4L2  s_het_w.f5L2
7276    22  rs12484974  31436494  ...         0.003         0.002         0.004
7552    22    rs131243  32124778  ...         0.021         0.020         0.016
7305    22    rs917208  31493125  ...         0.014         0.010         0.009
11459   22    rs929104  38208511  ...         0.005         0.005         0.015
11460   22   rs2285179  38211954  ...         0.041         0.057         0.065
...    ...         ...       ...  ...           ...           ...           ...
7659    22    rs976915  32428445  ...         0.008         0.005         0.006
7658    22    rs130256  32418552  ...         0.009         0.007         0.011
7657    22  rs17744994  32413527  ...         0.009         0.006         0.007
7654    22   rs4821014  32392612  ...         0.016         0.016         0.015
8110    22   rs2051569  33025180  ...         0.002         0.001         0.001

[18768 rows x 8 columns]

In [204]:
import gzip 
with gzip.open('22.l2.ldscore.gz', 'rb') as f: 
    v_file_content = pd.read_csv(f,sep="\t")
v_file_content.loc[v_file_content.SNP == "rs12484974"]

      CHR         SNP        BP      L2
7464   22  rs12484974  31436494  21.367

In [218]:
annot_df_prep.loc[annot_df_prep.SNP =="rs12484974"]
annot_df_prep.sort_values(by = "s_het_w.f1",ascending=False)

       CHR        BP         SNP  ...  s_het_w.f3  s_het_w.f4  s_het_w.f5
8108    22  32809832   rs9609538  ...    0.000053    0.000086    0.000214
11817   22  38480659   rs2267366  ...    0.000336    0.001480    0.002077
12935   22  41347346  rs34654213  ...    0.000032    0.001116    0.002587
15610   22  45898117   rs3810633  ...    0.000295    0.000101    0.000070
6895    22  30184599    rs140147  ...    0.000074    0.000199    0.001071
...    ...       ...         ...  ...         ...         ...         ...
9373    22  34514810    rs243001  ...    0.000074    0.000007    0.000004
9372    22  34513777    rs130662  ...    0.000074    0.000007    0.000004
9371    22  34512123   rs5999208  ...    0.000074    0.000007    0.000004
9370    22  34510915    rs243000  ...    0.000074    0.000007    0.000004
9369    22  34510633    rs135200  ...    0.000074    0.000007    0.000004

[18768 rows x 9 columns]

In [ ]:
# Plot histograms for each difference column
def plot_histograms(df, columns):
    plt.figure(figsize=(14, 10))
    
    for i, col in enumerate(columns):
        plt.subplot(2, 3, i + 1)  # Create a subplot for each column
        df[col].hist(bins=50, color='skyblue', edgecolor='black')
        plt.title(f'Distribution of {col}')
        plt.xlabel('Value')
        plt.ylabel('Frequency')
    
    plt.tight_layout()
    plt.show()

# Define the columns to plot
columns_to_plot = ['diff_f1', 'diff_f2', 'diff_f3', 'diff_b1', 'diff_b2', 'diff_b3']
# Call the function to plot histograms
plot_histograms(f_b_final_with_differences, columns_to_plot)

columns_to_plot = ["f1_dist","f2_dist","f3_dist","f4_dist","f5_dist"]
plot_histograms(nearest_genes_sample_df, columns_to_plot)

In [ ]:
s_het_info = pd.read_excel('s_het_info.xlsx',sheet_name=1)

In [40]:
# Function to perform the merge for all forward and backward GeneSymbols and rename the 'post_mean' columns
def merge_s_het_info_with_all(f_b_final_with_differences, s_het_info, num_merges=3):
    # Rename 'ensg' column in s_het_info to match the GeneSymbol columns in f_b_final_with_differences
    s_het_info = s_het_info.rename(columns={'ensg': 'GeneSymbol'})

    # Iterate over both forward and backward gene symbols
    for i in range(1, num_merges + 1):
        # Forward merge for each GeneSymbol_f
        f_b_final_with_differences = pd.merge(
            f_b_final_with_differences, 
            s_het_info[['GeneSymbol', 'post_mean']], 
            left_on=f'GeneSymbol_f{i}', 
            right_on='GeneSymbol', 
            how='left',
            suffixes=('', f'_f{i}')
        )
        
        # Rename the post_mean column to indicate the forward direction
        f_b_final_with_differences = f_b_final_with_differences.rename(
            columns={'post_mean': f's_het_post_f{i}'}
        )
        
        # Drop the duplicated 'GeneSymbol' column created during the merge
        f_b_final_with_differences = f_b_final_with_differences.drop(columns='GeneSymbol', errors='ignore')

        # Backward merge for each GeneSymbol_b
        f_b_final_with_differences = pd.merge(
            f_b_final_with_differences, 
            s_het_info[['GeneSymbol', 'post_mean']], 
            left_on=f'GeneSymbol_b{i}', 
            right_on='GeneSymbol', 
            how='left',
            suffixes=('', f'_b{i}')
        )
        
        # Rename the post_mean column to indicate the backward direction
        f_b_final_with_differences = f_b_final_with_differences.rename(
            columns={'post_mean': f's_het_post_b{i}'}
        )
        
        # Drop the duplicated 'GeneSymbol' column created during the merge
        f_b_final_with_differences = f_b_final_with_differences.drop(columns='GeneSymbol', errors='ignore')

    return f_b_final_with_differences

# Example usage:
f_b_final_merged_s_het = merge_s_het_info_with_all(f_b_final_with_differences, s_het_info, num_merges=3)

In [ ]:
f_b_final_merged_s_het

In [47]:
# f_b_final_merged_s_het[['diff_b1']] = abs(f_b_final_merged_s_het[['diff_b1']])
# f_b_final_merged_s_het[['diff_b2']] = abs(f_b_final_merged_s_het[['diff_b3']])
# f_b_final_merged_s_het[['diff_b3']] = abs(f_b_final_merged_s_het[['diff_b3']])
# Loop to apply the absolute value for all diff_b columns
def apply_abs_diff_b(f_b_final_merged_s_het, num_merges=3):
    for i in range(1, num_merges + 1):
        f_b_final_merged_s_het[f'diff_b{i}'] = f_b_final_merged_s_het[f'diff_b{i}'].abs()

    return f_b_final_merged_s_het

# Example usage:
f_b_final_merged_s_het = apply_abs_diff_b(f_b_final_merged_s_het, num_merges=3)

In [ ]:
f_b_final_merged_s_het

In [49]:
# Function to keep only the distance and s_het measures from the dataframe
def keep_dist_and_s_het_measures(df, num_merges=3):
    # List to store column names for distance and s_het measures
    columns_to_keep = ['variant', 'chr', 'pos']

    # Loop to collect the diff and s_het_post column names for forward and backward directions
    for i in range(1, num_merges + 1):
        columns_to_keep.append(f'diff_f{i}')
        columns_to_keep.append(f'diff_b{i}')
        columns_to_keep.append(f's_het_post_f{i}')
        columns_to_keep.append(f's_het_post_b{i}')

    # Keep only the relevant columns
    df_filtered = df[columns_to_keep]

    return df_filtered

# Example usage:
filtered_f_b_final = keep_dist_and_s_het_measures(f_b_final_merged_s_het, num_merges=3)

In [ ]:
filtered_f_b_final

In [ ]:
# Function to compute s_het weighted by 1/distance per gene-SNP pair
def compute_weighted_s_het(df, num_merges=3):
    # Loop to compute the weighted s_het for both forward and backward directions
    for i in range(1, num_merges + 1):
        # Calculate inverse distance for forward and backward directions
        df[f'inv_dist_f{i}'] = 1 / df[f'diff_f{i}']
        df[f'inv_dist_b{i}'] = 1 / df[f'diff_b{i}']
        
        # Compute weighted s_het by multiplying s_het by inverse distance
        df[f'weighted_s_het_f{i}'] = df[f'inv_dist_f{i}'] * df[f's_het_post_f{i}']
        df[f'weighted_s_het_b{i}'] = df[f'inv_dist_b{i}'] * df[f's_het_post_b{i}']

    return df

# Example usage:
weighted_f_b_final = compute_weighted_s_het(filtered_f_b_final, num_merges=3)

In [ ]:
weighted_f_b_final

In [53]:
# Function to keep only the weighted s_het values from the dataframe
def keep_weighted_s_het(df, num_merges=3):
    # List to store column names for weighted s_het values
    columns_to_keep = ['variant', 'chr', 'pos']

    # Loop to collect the weighted_s_het column names for forward and backward directions
    for i in range(1, num_merges + 1):
        columns_to_keep.append(f'weighted_s_het_f{i}')
        columns_to_keep.append(f'weighted_s_het_b{i}')

    # Keep only the relevant columns
    df_filtered = df[columns_to_keep]

    return df_filtered

# Example usage:
weighted_s_het_only = keep_weighted_s_het(weighted_f_b_final, num_merges=3)

In [ ]:
weighted_s_het_only

In [ ]:
#oliver's results 
weighted_s_het_only.iloc[np.argwhere(np.isin(weighted_s_het_only.variant, m["variant.mut"].values)).flatten()]